<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    {% load hometags %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
    <!-- collapsable categories --!>
    <script>
	$(document).ready(function() {
	    $(".cat_header").click(function() {
		var category = $(this).parent();
		$("div:not(:first)", category).toggle();
	    });
	});
    </script>
</head>
<body>

    <h1 id="main_header">camil
    <a id="button_new" href="/ideas/new/">[+]</a>
    </h1>

    <div class="category">
	<div class="cat_header">wip</div>
	{% for idea in ideas|filter_status:'wip' %}
	    <div class="object">
		<div class="info">
		    <h2><a href="idea/{{ idea.title|replacespaces }}/">{{ idea.title }}</a></h2>
		    <p>{{ idea.short_desc }}</p></div>
	    <div class="tags"><p> 
		{% for tag in idea.tags.all %}
		    {{ tag.tag }},
		{% endfor %}
		</p>
	    </div>
	    </div>
	{% endfor %}
    </div>

    <div class="category">
	<div class="cat_header">idea</div>
	{% for idea in ideas|filter_status:'idea' %}
	    <div class="object">
		<div class="info">
		    <h2><a href="idea/{{ idea.title|replacespaces }}/">{{ idea.title }}</a></h2>
		    <p>{{ idea.short_desc }}</p></div>
	    <div class="tags"><p> 
		{% for tag in idea.tags.all %}
		    {{ tag.tag }},
		{% endfor %}
		</p>
	    </div>
	    </div>
	{% endfor %}
    </div>

    <div class="category">
	<div class="cat_header">fin</div>
	{% for idea in ideas|filter_status:'finished' %}
	    <div class="object">
		<div class="info">
		    <h2><a href="idea/{{ idea.title|replacespaces }}/">{{ idea.title }}</a></h2>
		    <p>{{ idea.short_desc }}</p></div>
	    <div class="tags"><p> 
		{% for tag in idea.tags.all %}
		    {{ tag.tag }},
		{% endfor %}
		</p>
	    </div>
	    </div>
	{% endfor %}
    </div>


</body>
</html>
