<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	{% load hometags %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
</head>
<body>

    {% for idea in ideas %}
	<div class="idea">
	    <div class="info"><h2><a href="idea/{{ idea.title|replacespaces }}/">TITLE: {{ idea.title }}</a></h2><p>SHORT_DESC: {{ idea.short_desc }}</p></div>
	<div class="tags"><p>TAGS: 
	    {% for tag in idea.tags.all %}
		{{ tag.tag }},
	    {% endfor %}
	    </p>
	</div>
	</div>
    {% endfor %}

    <a href="/ideas/new/"><img src="{% static 'new_idea.png' %}"></a>

</body>
</html>
