<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
		<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'styles/idea.css' %}">

		<script>
			$(document).ready(function() {
				$("#delete_div").click(function() {
					$("#delete_link").toggle();
				});
			});
		</script>
	</head>
<body>

    <a id="home_link" href="/ideas/">home</a>
    <div class="info">
	<div id="title_header">	
		<h1>
			<span id="status">{{ idea.status }} : </span>
			<span id="title">{{ idea.title }}</span>
			<a id="edit" href='/ideas/edit/{{ idea.title_nospaces }}/'>[*]</a>
		</h1> 
	</div>

	    <p id="short_desc">{{ idea.short_desc }}</p>
	    <p id="long_desc"> {{ idea.long_desc }}</p>

	    {# check if there are actually links, if not, don't show anything #}
	    {% if idea.are_links %}
	    <div class="links">
		<h3>links:</h3>
		<ul>
		    {% for link in idea.links.all %}
		    <li><a href="{{ link.url }}">{{ link.url }}</a></li>
		    {% endfor %}
		</ul>
	    </div>
	    {% endif %}

	    {# check if there are actually images, if not, don't show anything #}
	    {% if idea.are_sources %}
	    <div class="sources">
		<h3>sources:</h3>
		<ul>
		    {% for source in idea.sources.all %}
			<li>{{ source.source }}</li>
		    {% endfor %}
		</ul>
	    </div>
	    {% endif %}
	    
	    {# check if there are actually images, if not, don't show anything #}
	    {% if idea.are_images == True %}
	    <div class="images">
		<h3>images:</h3>
		<ul>
		    {% for image in idea.images.all %}
		    <li><img src="{{ image.url}}" /></li>
		    {% endfor %}
		</ul>
	    </div>
	    {% endif %}

	    {# check if there are actually tags, if not, don't show anything #}
	    {% if idea.are_tags %}
		<div class="tags"><h3>tags:</h3> 
		<p>
		{% for tag in idea.tags.all %}
		    {{ tag.tag }},
		{% endfor %}
		</p>
	    </div>
	    {% endif %}

		<div id="delete_div">
			<p>delete</p>
			<a id="delete_link" href='/ideas/delete/{{ idea.title_nospaces }}/'>I AM SURE!</a>
		</div>

	    <p>date formed: {{ idea.date_formed }}</p>

    </div>

</body>
</html>
