<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<style rel="stylesheet" href="{% static 'styles/idea.css' %}"></style>
</head>
<body>

    <a id="home_link" href="/ideas/">HOME</a>
    <div class="info">
	
	<h2>STATUS: {{ idea.status }}</h2>
	<h2>TITLE: {{ idea.title }}</h2> 
	<a href='/ideas/edit/{{ idea.title_nospaces }}/'>EDIT</a>
	<div id="delete_div">
	    <p>DELETE</p>
	    <a id="delete_link" href='/ideas/delete/{{ idea.title_nospaces }}/'>I AM SURE!</a>
	</div>

	    <h3>SHORT_DESC: </h3><p>{{ idea.short_desc }}</p>
	    <h3>LONG_DESC: </h3><p> {{ idea.long_desc }}</p>

	    {# check if there are actually links, if not, don't show anything #}
	    {% if idea.are_links %}
	    <div class="links">
		<h3>LINKS:</h3>
		<ul>
		    {% for link in idea.links.all %}
		    <li><a href="{{ link.url }}">{{ link.url }}</a></li>
		    {% endfor %}
		</ul>
	    </div>
	    {% endif %}

	    {# check if there are actually images, if not, don't show anything #}
	    {% if idea.are_sources %}
	    <div class="sources">
		<h3>SOURCES:</h3>
		<ul>
		    {% for source in idea.sources.all %}
			<li>{{ source.source }}</li>
		    {% endfor %}
		</ul>
	    </div>
	    {% endif %}
	    
	    {# check if there are actually images, if not, don't show anything #}
	    {% if idea.are_images == True %}
	    <div class="images">
		<h3>IMAGES:</h3>
		<ul>
		    {% for image in idea.images.all %}
		    <li><img src="{{ image.url}}" /></li>
		    {% endfor %}
		</ul>
	    </div>
	    {% endif %}

	    {# check if there are actually tags, if not, don't show anything #}
	    {% if idea.are_tags %}
	    <div class="tags"><p>TAGS: 
		{% for tag in idea.tags.all %}
		    {{ tag.tag }},
		{% endfor %}
		</p>
	    </div>
	    {% endif %}

	    <p>DATE_FORMED: {{ idea.date_formed }}</p>

    </div>

</body>
</html>
